body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #0080ff;
    color: #343a40;
}

h1,
h3 {
    color: #007bff;
}

.card {
    border-radius: 8px;
    padding: 20px;
}

button {
    border-radius: 5px;
}